@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

body {
}

.slideshow_img {
    margin: auto;
    text-align: center;
    transition: all ease-in-out 0.5s;
}
.slideshow_container {
    margin: auto;
    text-align: center;
}

@keyframes fade {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.mainbtn {
    box-shadow: inset 0 0px 0px 1px #607D8B;
    transition: all .5s;
    background-color: white;
    text-shadow: 0 0 black;
    color: black;
    text-decoration: none;
    border: 2px none #9E9E9E;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.mainbtn:hover {
    box-shadow: inset 0px 0px 20px 4px #2196f3;
    border-radius: 10px;
}

.mainbtn:active {
    box-shadow: inset 0px 0px 20px 10px #2196f3;
}
